body {
    background-color: antiquewhite;
}

#game-grid {
    display: flex;
    justify-content: center;
}


h1 {
    display:flex;
    font-family: "algerian";
    justify-content: center;
}
cell {
    display: block;
    background-color: green;
    height: 2vh;
    width: 2vh;
    border: 1px dashed black;
}
.occupied {
    background-color: orange;
}

.apple {
    background-color: red;
}

.cell {
    background-color: green;
}

.score-box {
    display: flex;
    justify-content: center;
    font-family: "algerian";
    
}
#score {
    color: red;
}

#best {
    color: red
}

.new-game-button {
    display: flex;
    justify-content: center;
}