body {
    background-color: antiquewhite;
}

#game-grid {
    display: flex;
    justify-content: center;
}


h1 {
    display:flex;
    font-family: "algerian";
    justify-content: center;
}
cell {
    display: block;
    background-color: green;
    height: 3.5vh;
    width: 3.5vh;
    border: 1px dashed black;
}
.occupied {
    background-color: orange;
}

.apple {
    background-color: red;
}

.cell {
    background-color: green;
}

.score-box {
    display: flex;
    justify-content: center;
    font-family: "algerian";
    font-size: 25px;
    
}
#score {
    color: red;
}

#best {
    color: red
}

.new-game-button {
    display: flex;
    justify-content: center;
    
}

select {
    margin: 2px;
    font-size: 25px;
}

#new-game {
    font-size: 25px;
}

#difficulty-bar {
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    #game-grid {
        justify-content: left;
    }
    .score-box {
        justify-content: left;
    }
    h1 {
        justify-content: left;
    }
    .new-game-button {
        justify-content: left;
    }
}